Package: lib32z1-dev
Source: zlib
Version: 1:1.2.11.dfsg-1
Architecture: amd64
Maintainer: Mark Brown <broonie@debian.org>
Installed-Size: 47
Depends: lib32z1 (= 1:1.2.11.dfsg-1), zlib1g-dev (= 1:1.2.11.dfsg-1), lib32c-dev
Conflicts: libc6-i386 (<= 2.9-18)
Replaces: ia32-libs-dev (<< 1.5)
Provides: lib32z-dev
Section: libdevel
Priority: optional
Homepage: http://zlib.net/
Description: compression library - 32 bit - DO NOT USE EXCEPT FOR PACKAGING
 zlib is a library implementing the deflate compression method found
 in gzip and PKZIP.  This package includes the development support
 files for building 32 bit applications.
 .
 This package should ONLY be used for building packages, users who do
 not need to build packages should use multiarch to install the relevant
 runtime.
