Package: lib32z1
Source: zlib
Version: 1:1.2.11.dfsg-1
Architecture: amd64
Maintainer: Mark Brown <broonie@debian.org>
Installed-Size: 47
Conflicts: libc6-i386 (<= 2.9-18)
Replaces: ia32-libs (<< 1.5)
Section: libs
Priority: optional
Homepage: http://zlib.net/
Description: compression library - 32 bit runtime
 zlib is a library implementing the deflate compression method found
 in gzip and PKZIP.  This package includes a 32 bit version of the
 shared library.
